/*NEW COLOR PALETTE
#E06150 - Rust
#FFC58F - Parchment
#ABD57B - Soft Green
#449577 - Warn Green
#32363D - Deep Bluish Black
*/

/*SCREEN-SIZE DIFFERENCES*/
@media screen and (max-width: 768px) { /*MOBILE*/
    
}
@media screen and (min-width: 768px) { /*Screen PC*/
    #about-nav-pointer-container {
        padding-top: 0px;
        margin-left: 16px;
        width: 40px;
    }
}
@media screen and (min-width: 800px) { /*Medium Screen PC*/
    
}
@media screen and (min-width: 1200px) { /*Medium Screen PC*/
    
}
@media screen and (min-width: 1400px) { /*Large Screen PC*/
    
}