/*NEW COLOR PALETTE
#E06150 - Rust
#FFC58F - Parchment
#ABD57B - Soft Green
#449577 - Warn Green
#32363D - Deep Bluish Black
*/

.flipcard-holder {
    padding-top: 15px;
    z-index: -5;
}.flipcard {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    text-align: center;
    perspective: 1000px;
}.flipcard-front-title {                            /*FRONT OF CARD*/
    font-size: 30px;
    padding: 5px;
    background-color: #e3ab77
}.flipcard-front-image {
    width: 400px;
    height: 250px;
    margin: 0;
    padding: 0;
}.flipcard-front-summary {
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #e3ab77;   
    /*WARNING: Remove bg color and text overflows. Try not to go over too much.*/
}.flipcard-back-title {                             /*BACK OF CARD*/
    font-size: 30px;
    padding: 5px;
    background-color: #e3ab77;
}.flipcard-back-image {
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
}.flipcard-inner {                                  /*3D FLIP ON CURSOR*/
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}.flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
}.flipcard-front, .flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}.flipcard-front {                                  /*FRONT SIDE BACKGROUND*/
    background-color: #e3ab77;
    color: #271b2f;
}.flipcard-back {                                   /*BACK SIDE BACKGROUND*/
    background-color: #e3ab77;
    color: #271b2f;
    transform: rotateY(180deg);
}.subtitle {
    font-weight: bold;
}.flipcard-buttons {
    position: relative;
    margin: auto;
    text-align: center;
}.flipcard-button {
    background-color: #5bc0de;
    color: #271b2f;
    border: none;
    font-size: 30px;
    width: 75px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0 0 0 0;
}.flipcard-button:hover {                               /*Halo Effect - Code Button*/
    box-shadow: 1px 2px 6px 3px #a896b4a1;
}

/*SCREEN-SIZE DIFFERENCES*/
@media screen and (max-width: 768px) {              /*MOBILE*/
    
}
@media screen and (min-width: 768px) {                  /*Screen PC*/
    #project-nav-pointer-container {
        padding-top: 0px;
        margin-left: 0px;
        width: 40px;
    }
}
@media screen and (min-width: 1200px) {                 /*Medium Screen PC*/
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (min-width: 1600px) {                 /*Large Screen PC*/
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}