/*NEW COLOR PALETTE
#E06150 - Rust
#FFC58F - Parchment
#ABD57B - Soft Green
#449577 - Warn Green
#32363D - Deep Bluish Black
*/

.aboutMusic {
    margin: 10px 85px 10px 85px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    color: #32363D;
}

.aboutMusic-text {
    text-align: justify;
    margin-top: 5px;
}

.music-container {
    text-align: center;
    margin-top: 10px;
    background-color: #32363D;
    color: #FFC58F;
}

.playback-disclaimer {
    font-size: 12px;
    margin-bottom: 8px;
}

/*SCREEN-SIZE DIFFERENCES*/
@media screen and (max-width: 768px) { /*MOBILE*/

}
@media screen and (min-width: 768px) { /*Screen PC*/
    #music-nav-pointer-container {
        padding-top: 0px;
        margin-left: 15px;
        width: 40px;
    }
}
@media screen and (min-width: 800px) { /*Medium Screen PC*/
    
}
@media screen and (min-width: 1200px) { /*Medium Screen PC*/
    
}
@media screen and (min-width: 1400px) { /*Large Screen PC*/

}